@mixin header_style {
    background-color:crimson;
    letter-spacing: 5px;
    color: cyan;
    text-transform: uppercase;
}

@mixin para_style {
    background-color: bisque;
    color: purple;
}

h1{
    @include header_style;
    color: darkkhaki;
}

h2{
    @include header_style;
}

p{
    @include para_style;
}
