body {
    
    background: white;
  }
   
  .container {
  
    display: flex;
    justify-content: center;
    margin-top: 5px;
  }
  
  .stripe {
    width: 225px;
    height: 50px;
  }
  
  #saffron {
    background: orange;
  }

  #white {
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #green {
    background: green;
  }

  .chakra {
    height: 40px;
    width: 40px;
  }